body, html{
  height: 100%;
  width: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNr76SbVflK9Dtnec0UWtB41-_eMUu1YBOeA&usqp=CAU);
  background-size: auto;
}
.datepicker{
  color:black;
  font-weight: bold;
}
.state{
  color:gold;
  font-weight: bold;
}
select option:hover{
  text-shadow: 1px 2px 1px gold;
  display:block;
}
span.stretch {
  display:block;
  -webkit-transform:scale(2,1);
}
.ui-widget-content{
  width: 15%;
  height: auto;
  text-align: center;
  font-weight: bold;
}
.ui-datepicker{
  font-size: x-large;
  text-align: center;
}
.ui-widget-header {
  background: gold;
}
.ui-widget-content .ui-state-default:hover{
  background: rgb(214, 159, 219);
  border-radius: auto;
}

.ui-datepicker table {
  width: 100%;
  color:black;
}
.ui-datepicker th {
  background-color:#808080;
  text-transform: uppercase;
  font-size: 8pt;
  color: white;
}
.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
}
.ui-datepicker-calendar .ui-state-default {
  background: linear-gradient(#999999, #737373);
  color:#ffffff;
  height:30px;
  width:30px;
}
.ui-datepicker-prev{
  float:left; 
}
.ui-datepicker-next{
  float:right; 
}
